<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capgemini.jtp.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.capgemini.jtp.entity.User">
        <id column="userId" property="userId"/>
        <result column="departId" property="departId"/>
        <result column="chineseName" property="chineseName"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="roleId" property="roleId"/>
    </resultMap>

    <resultMap id="lazyLoadRoles" type="com.capgemini.jtp.entity.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.capgemini.jtp.entity.Role"
                    select="com.capgemini.jtp.mapper.UserMapper.getRolesByUserId"
                    column="userId"></collection>
    </resultMap>

<!--    <resultMap id="eagerLoadRoles" type="com.capgemini.jtp.entity.User" extends="BaseResultMap">-->
<!--        <collection property="roles" ofType="com.capgemini.jtp.entity.Role">-->
<!--            <id property="id" column="rid"/>-->
<!--            <result property="name" column="rname"/>-->
<!--            <result property="nameZh" column="rnameZh"/>-->
<!--        </collection>-->
<!--    </resultMap>-->

    <select id="loadUserByUsername" resultMap="lazyLoadRoles">
        select * from user WHERE username=#{username};
    </select>



    <!-- 此方法待定 -->
    <select id="getRolesByUserId" resultType="com.capgemini.jtp.entity.Role">
        SELECT r.* FROM user u,role r where u.roleId=r.roleId AND u.userId=#{id}
    </select>



    <update id="updateUser" parameterType="com.capgemini.jtp.entity.User">
        update user
        <set>
<!--            <if test="user.name != null">-->
<!--                name = #{user.name,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="user.username != null">-->
<!--                username = #{user.username,jdbcType=VARCHAR},-->
<!--            </if>-->
            <if test="user.password != null and user.password !='' ">
                password = #{user.password,jdbcType=VARCHAR},
            </if>
        </set>
        where username = #{user.username,jdbcType=VARCHAR}
    </update>
    <select id="listUserVo" resultMap="BaseResultMap">
        select * from `user` where userId !=0

    </select>
    <insert id="addUser">
        insert into `user` (`chineseName`, `username`,`password`,`gender`,departId,roleId,userState)
        values

            (
            #{user.chineseName},#{user.username},#{user.password,jdbcType=VARCHAR},#{user.gender},#{user.departId},#{user.roleId},#{user.userStateId}
            )

    </insert>
    <delete id="deleteUserByUserId" parameterType="com.capgemini.jtp.entity.User">
        DELETE FROM `user` WHERE userId=#{user.userId}
    </delete>

    <select id="getAllUserIds" resultType="Integer">
        SELECT userId FROM user;
    </select>

    <!-- 根据userId查询User -->
    <select id="getUser" resultType="com.capgemini.jtp.entity.User">
        SELECT * FROM user WHERE userId = #{userId};
    </select>

    <select id="selectUserListByMessageUser" parameterType="com.capgemini.jtp.vo.request.MessageUserSearchVo"
            resultType="com.capgemini.jtp.entity.User">
        select distinct u.* from user u, branch b, depart d
        where u.userState = 1
        <if test="messageUserSearchVo.branchName != null and messageUserSearchVo.branchName !='' ">
            and b.branchName = #{messageUserSearchVo.branchName,jdbcType=VARCHAR}
            and b.branchId = d.branchId
        </if>
        <if test="messageUserSearchVo.departName != null and messageUserSearchVo.departName !='' ">
            and d.departName = #{messageUserSearchVo.departName,jdbcType=VARCHAR}
            and u.departId = d.departId
        </if>
        <if test="messageUserSearchVo.chineseName != null and messageUserSearchVo.chineseName !='' ">
            and u.chineseName like concat(concat('%',#{messageUserSearchVo.chineseName,jdbcType=VARCHAR}),'%')
        </if>
        <if test="messageUserSearchVo.userId != null and messageUserSearchVo.userId !=0 ">
            and u.userId = #{messageUserSearchVo.userId,jdbcType=INTEGER}
        </if>
        order by u.userId
    </select>


</mapper>